<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TEST2</title>
		
		<script type="text/javascript">
			
			function myclick(){
				
				
				var user = document.querySelector( '#it_mine' );
				
		
				
				alert( user );
				
				
				var strike = 0;
				var ball = 0;
				var out = 0;
				
				for( var i = 0; i < user.length; i++ ){
					for( var j = 0; j <  i; j++ ){
					
				}
				
				
				}
			}
		
		</script>
		
	</head>
	<body>
	
		<h1>TEST 6</h1>
		
		<table border = "1px">
		
			<tr>
				<td>맞힐수 :</td>
				<td>
					<input type = "text" id = "it_mine">
				</td>
			</tr>
			
			<tr>
				<td colspan = "2">
					<input type = "button" value = "맞춰보기" onclick = "myclick()">
				</td>
			</tr>
			
			<tr>
				<td colspan = "2">
					<textarea id = "td" rows = "20" cols = "20"></textarea>
				</td>
			</tr>
			
			
		</table>
		
	</body>
</html>